<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Little progress adds up.</string>
	<string>Today is a great day to save.</string>
	<string>It’s your money.</string>
	<string>Persistence makes you great.</string>
	<string>Ready to rock the day?</string>
	<string>Make today your masterpiece. </string>
	<string>Just keep going.</string>
	<string>Making progress feels amazing!</string>
	<string>Every dollar makes a difference.</string>
	<string>Good day!</string>
	<string>Hey!</string>
	<string>Getting started is the hardest part.</string>
	<string>Keep moving forward.</string>
	<string>You can do extraordinary things.</string>
	<string>You are powerful.</string>
	<string>You are doing better and better.</string>
	<string>Good habits can change your life.</string>
	<string>Save for what you care about.</string>
	<string>Your goal called... it misses you!</string>
	<string>Small progress? Still progress.</string>
	<string>Hi, friend!</string>
	<string>Psst!</string>
	<string>Invest in you—you’re worth it.</string>
	<string>You are worth it.</string>
	<string>Live your life on your terms.</string>
	<string>Be your best self.</string>
	<string>You are extraordinary!</string>
	<string>You are well on your way.</string>
	<string>Live deliberately.</string>
	<string>Look at you go!</string>
</array>
</plist>
